* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --vinho: #8B2119;
    --verde: #01AA95;
    --grad-vinho: linear-gradient(305deg, #8B2119, #B84C44);
}

body {
    background-color: #ffffff;
    margin: 0 auto;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #8c8c8c;
}

p {
    margin-bottom: 1.5em;
}

a{
    text-decoration: none;
}

.sub-titulo {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--vinho);
    margin-bottom: 5px;
}

h2 {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -2px;
    color: #333333;
    text-align: center;
    margin-bottom: 35px;
}

h3 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -2px;
    font-weight: 500;
    color: #444444;
    text-align: center;
}

nav.menu ul li a:hover,
nav.menu ul li a:active,
.interativos li:hover a,
.interativos li:hover a:before,
#titulo ul li:first-child a:hover {
    color: var(--vinho);
}

/* Estilo do header */

header {
    max-width: 1200px;
    margin: 0 auto;
    height: 112px;
    align-content: center;
}

#cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-logo {
    width: 25%;
}

.col-menu {
    width: 55%;
    padding-right: 25px;
}

.interativos {
    width: 20%;
}

nav.menu ul,
.interativos ul {
    display: flex;
    justify-content: right;
}

nav.menu ul li,
.interativos ul li {
    list-style: none;
    padding: 0 25px;
}

nav.menu ul li a {
    text-decoration: none;
    color: #444444;
    font-weight: 500;
    transition: all 0.3s;
}

.interativos ul li a {
    text-decoration: none;
    color: #8c8c8c
}

.interativos li:first-child a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f002";
    display: inline;
    padding-right: 15px;
    vertical-align: text-top;
    font-weight: 700;
}

.interativos li:last-child a:before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    display: inline;
    padding-right: 15px;
    vertical-align: text-top;
    font-weight: 700;
}

.interativos li:last-child {
    border-left: 1px solid #dedede;
}

/* Seção Título */

#titulo {
    background-image: linear-gradient(90deg, #f0f0f0, #f2f2f2);
    padding: 45px 0;
    margin-bottom: 70px;
}

#titulo h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    letter-spacing: -2px;
}

#titulo ul {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
}

#titulo ul li {
    padding: 7px;
}

#titulo ul li a {
    text-decoration: none;
}

#titulo ul li span {
    color: #d9d9d9;
}

#titulo ul li:first-child a {
    color: #555555;
}

#titulo ul li:last-child a {
    color: var(--vinho);
}

/* Estilo Seção Sobre */

#conteudo-sobre {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.cols {
    display: flex;
    justify-content: center;
}

.large-70 {
    width: 70%;
    padding-right: 40px;
    align-content: center;
}

.large-30 {
    width: 30%;
}

.large-30 img {
    max-width: 368px;
    width: 100%;
    height: 389px;
    object-fit: cover;
    border-radius: 30px;
}

/* Estilo Seção Destaque */

#conteudo-destaque {
    width: 100%;
    padding: 0 60px;
    margin-bottom: 70px;
}

.col-dtq {
    padding: 50px 70px;
    background-image: var(--grad-vinho);
    border-radius: 50px;
}

.col-dtq .large-50 {
    width: 50%;
    color: #ffffff;
    align-content: center;
    text-align: left;
}

.col-dtq .large-50 p {
    margin-bottom: 0;
}

.col-dtq .large-50 h2 {
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
}

.col-dtq .large-50 .sub-titulo {
    text-align: left;
    color: #ffffff;
    margin-bottom: 7px;
}

/* Estilo Seção Equipe */

#conteudo-equipe {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
}

#conteudo-equipe p {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto;
}

#conteudo-equipe .cols {
    margin-top: 50px;
    text-align: center;
}

.integrante {
    width: 33.333%;
}

.integrante img {
    max-width: 100%;
    width: 360px;
    height: 380px;
    object-fit: cover;
    border-radius: 40px;
}

.integrante h3 {
    max-width: 270px;
    min-height: 80px;
    margin: 0 auto;
    margin-top: 35px;
}

.integrante p {
    margin-top: 15px !important;
}

.integrante .redes-sociais {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

.integrante .redes-sociais div {
    padding: 0 5px;
}

.integrante .redes-sociais a {
    color: var(--vinho);
}

.integrante .redes-sociais i {
    font-size: 20px;
}

.integrante span {
    background-color: rgba(0, 0, 0, 0.05);
    display: inline-block;
    width: 55px;
    height: 55px;
    align-content: center;
    border-radius: 30px;
    transition: all 0.3s;
}

.integrante span:hover {
    background-color: var(--vinho);
}

.integrante .redes-sociais div:hover a {
    color: #ffffff !important;
}

/* Estilo do rodapé */

footer {
    width: 100%;
    padding: 0 60px;
    color: #ffffff;
}

.footer-top {
    background-image: var(--grad-vinho);
    padding: 50px 70px;
    border-radius: 50px;
    margin-bottom: 30px;
}

.footer-top h2 {
    color: #ffffff;
    text-align: left;
}

.footer-top h2 span {
    font-weight: 300;
}

.footer-bottom {
    color: #8c8c8c;
}

.large-50 {
    width: 50%;
}

.footer-top .large-50:first-child {
    padding-right: 30px;
}

.footer-top .large-50:last-child {
    padding-left: 50px;
    align-content: center;
}

form [type="email"] {
    width: 100%;
    height: 60px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border-width: 0;
    padding: 0 25px;
    color: #ffffff;
}

form input::placeholder {
    color: #c6aaaa;
    font-size: 16px;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

form button {
    font-weight: 700;
    height: 60px;
    width: 170px;
    border-radius: 40px;
    border: 0;
    position: relative;
    float: right;
    top: -60px;
    font-size: 18px;
    color: var(--vinho);
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

form [type="checkbox"] {
    margin: 0 10px 0 15px;
}

form label {
    color: #c6aaaa;
}

footer hr {
    border-color: rgba(255, 255, 255, 0.1);
    margin: 30px 0 40px;
}

.large-35 {
    width: 35%;
}

.large-25 {
    width: 25%;
}

.large-20 {
    width: 20%;
}

footer .redes-sociais {
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 15px;
}

footer .redes-sociais p {
    margin-bottom: 0;
    padding: 0 5px;
}

footer .redes-sociais a {
    color: #ffffff;
}

footer .redes-sociais i {
    font-size: 20px;
    padding-top: 5px;
}

footer .redes-sociais span {
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    width: 55px;
    height: 55px;
    align-content: center;
    border-radius: 30px;
    transition: all 0.3s;
}

footer .redes-sociais span:hover {
    background-color: var(--vinho);
}

footer .redes-sociais div:hover a {
    color: #ffffff !important;
}

footer .large-20 ul {
    list-style: none;
}

footer .large-20 ul li {
    padding: 3px 0;
}

footer .large-20 ul a {
    text-decoration: none;
    color: #ffffff;
}

footer .large-50 p {
    margin-bottom: 0;
}

footer h4 {
    margin-bottom: 15px;
}

.footer-bottom {
    justify-content: space-between;
    padding: 0 60px;
}

.footer-bottom img {
    width: 90px;
}







/* Estilo Home */

#conteudo-hero {
    border-radius: 0;
    min-height: 600px;
    width: 100%;
    line-height: 32px;
    padding: 0px 60px;
}

#conteudo-hero .banner{
    background-image: url(../img/banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    padding: 175px 80px;
    border-radius: 60px;
}

.hero-background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-titulo {
    position: relative;
    color: #333;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -2px;
}

.hero-description {
    position: relative;
    color: #555;
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    width: 558px;
}

.cta-container {
    position: relative;
    display: flex;
    gap: 15px;
    font-size: 18px;
    margin: 35px 0 -30px;
}

.botao-cta {
    border-radius: 50px;
    padding: 12px 42px;
    text-decoration: none;
    font-weight: 700;
}

.cta-primario {
    background-color: #8b2119;
    color: #fff;
}

.cta-secundario {
    color: #8b2119;
    border: 1px solid #8b2119;
}

#funcionamento{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
}

.bloco-inicial{
    max-width: 968px;
    text-align: center;
    margin: 0 auto;
}

.passo-a-passo {
    width: 100%;
    max-width: 1142px;
    margin: 50px auto;
}

.passo-linha {
    display: flex;
}

.passo-coluna {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
}

.passo-coluna:first-child .passo-conteudo{
    border-right: 1px solid #ededed;
    padding-right: 27px;
}

.passo-coluna:last-child .passo-conteudo{
    padding-left: 27px;
}

.passo-conteudo {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.passo-topo {
    align-self: start;
    display: flex;
    gap: 21px;
}

.passo-numero {
    border-radius: 50%;
    font-size: 22px;
    color: #8b2119;
    font-weight: 400;
    text-align: center;
    line-height: 1.85;
    margin: auto 0;
    border: 1px solid #8b2119;
    width: 42px;
    height: 42px;
}

.passo-titulo {
    color: #444;
    font-size: 32px;
    font-weight: 500;
    line-height: 2;
    letter-spacing: -2px;
    flex-basis: auto;
    flex-grow: 1;
}

.passo-descricao {
    max-width: 478px;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    align-self: end;
    margin-top: 8px;
}

.status-cards-container {
    width: 100%;
    max-width: 1292px;
    margin: 20px auto 0;
}

.status-card-linha {
    gap: 30px;
    display: flex;
}

.status-card {
    border-radius: 35px;
    box-shadow: 0 0 22px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    padding: 30px 60px;
    border: 1px solid rgba(0, 0, 0, 0.03);
}

.status-card:first-child{
    background-image: url(../img/8.png);
    background-repeat: no-repeat;
    background-position: -15px;
    background-size: auto 120%;
}

.status-card:last-child{
    background-image: url(../img/9.png);
    background-repeat: no-repeat;
    background-position: -15px;
    background-size: auto 120%;
}

.status-card-conteudo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 120px;
}

.status-card-titulo {
    font-size: 28px;
    font-weight: 300;
    text-align: left;
}

.status-card-descricao {
    margin: 0px;
}

.status-card-link {
    color: var(--vinho);
    font-weight: 400;
}

.secao-chatbot {
    display: flex;
    border-radius: 0;
    position: relative;
    min-height: 450px;
    margin-top: 100px;
    color: #fff;
    font-weight: 700;
    padding: 0 60px;
}

.chatbot-container {
    position: relative;
    border-radius: 50px;
    background: linear-gradient(107deg, #67e7d7 14.56%, #01aa95 87.33%);
    box-shadow: 0 0 22px 0 rgba(0, 0, 0, 0.1);
    display: flex;
}

.chatbot-conteudo {
    border-radius: 0;
    position: relative;
    min-height: 400px;
    padding: 60px 0 60px 15px;
    width: 50%;
    align-self: center;
}

.chatbot-img{
    width: 50%;
    padding-right: 35px;
    margin-top: -50px;
    display: flex;
    align-items: flex-end;
}

.chatbot-image {
    width: 100%;
    height: auto;
}

.chatbot-titulo {
    text-align: left;
    color: #ffffff;
    margin-bottom: 0;
}

.chatbot-titulo span{
    font-weight: 300;
}

.chatbot-descricao {
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 25px 0;
}

.chatbot-cta {
    border-radius: 50px;
    background-color: #fff;
    font-size: 18px;
    color: #01aa95;
    line-height: 55px;
    padding: 14px 35px;
}

.secao-beneficios {
    margin: 70px auto;
    max-width: 1200px;
}

.beneficios-container {
    margin-top: 58px;
    width: 100%;
    max-width: 1168px;
}

.beneficios-linha {
    gap: 20px;
    display: flex;
}

.beneficios-descricao{
    text-align: center;
    max-width: 854px;
    margin: 0 auto;
}

.beneficio-card {
    border-radius: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Poppins, sans-serif;
    padding: 32px 28px;
    border: 1px solid #e2e4ef;
}

.beneficio-topo {
    align-self: start;
    display: flex;
    margin-left: 15px;
    gap: 17px;
    font-size: 28px;
    color: #444;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 34px;
}

.beneficio-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 43px;
    margin: auto 0;
}

.beneficio-titulo {
    flex-basis: auto;
}

.beneficio-description {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

@media (max-width: 991px) {

    #conteudo-hero {
        max-width: 100%;
        padding: 100px 20px;
    }

    .hero-titulo {
        max-width: 100%;
        font-size: 40px;
        line-height: 52px;
    }

    .hero-description {
        max-width: 100%;
    }

    .cta-container {
        margin-bottom: 10px;
    }

    .botao-cta {
        padding: 0 20px;
    }

    .section-titulo {
        margin-top: 40px;
    }

    .section-heading {
        max-width: 100%;
        font-size: 40px;
    }

    .beneficios-descricao {
        max-width: 100%;
    }

    .passo-a-passo {
        max-width: 100%;
        margin-top: 40px;
    }

    .passo-linha {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .passo-coluna {
        width: 100%;
    }

    .passo-conteudo {
        max-width: 100%;
        margin-top: 36px;
    }

    .passo-descricao {
        margin-right: 10px;
    }

    .status-cards-container {
        max-width: 100%;
        margin-top: 40px;
    }

    .status-card-linha {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .status-card {
        max-width: 100%;
        margin-top: 32px;
    }

    .status-card-conteudo {
        margin-top: 40px;
    }

    .secao-chatbot {
        max-width: 100%;
        margin-top: 40px;
    }

    .chatbot-container {
        max-width: 100%;
    }

    .chatbot-conteudo {
        max-width: 100%;
        padding: 0 20px;
    }

    .chatbot-titulo {
        max-width: 100%;
        margin-right: 10px;
        font-size: 40px;
        line-height: 47px;
    }

    .chatbot-descricao {
        max-width: 100%;
    }

    .chatbot-cta {
        margin-top: 40px;
        padding: 0 20px;
    }

    .secao-beneficios {
        margin-top: 40px;
    }

    .beneficios-container {
        max-width: 100%;
        margin-top: 40px;
    }

    .beneficios-linha {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .beneficio-card {
        margin-top: 32px;
        padding: 0 20px;
    }

    .beneficio-topo {
        margin-left: 10px;
    }

    .beneficio-description {
        margin-right: 10px;
    }
}







/* Estilo Report */

.hero-section {
    border-radius: 50px;
    background: linear-gradient(286deg, #8b2119 28.49%, #b84c44 100%);
    align-self: stretch;
    display: flex;
    margin-top: 39px;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
    padding: 57px 80px;
  }
  
  .hero-content {
    display: flex;
    width: 960px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .hero-subtitle {
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  
  .hero-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 4px;
  }
  
  .hero-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    align-self: stretch;
    margin-top: 24px;
  }
  
  .problem-section-title {
    color: #444;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 47px;
    font: 500 32px/2 Poppins, sans-serif;
  }
  
  .problem-section-description {
    color: #8c8c8c;
    text-align: center;
    margin-top: 6px;
    width: 560px;
    font: 400 16px/26px Poppins, sans-serif;
  }
  
  .problem-categories {
    display: flex;
    margin-top: 59px;
    width: 100%;
    max-width: 1172px;
    gap: 18px;
    color: #8c8c8c;
    text-align: center;
    flex-wrap: wrap;
    font: 400 20px/1.3 Poppins, sans-serif;
  }
  
  .category-item {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    flex: 1;
    padding: 33px 42px;
    border: 1px solid #e2e4ef;
  }
  
  .category-icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 64px;
    align-self: center;
  }
  
  .category-title {
    margin-top: 25px;
  }
  
  .active-category {
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    color: #8b2119;
    font-weight: 700;
    border: 1px solid #8b2119;
  }
  
  .navigation-buttons {
    display: flex;
    margin-top: 65px;
    width: 380px;
    max-width: 100%;
    gap: 20px;
    white-space: nowrap;
    justify-content: space-between;
    font: 700 18px/32px Poppins, sans-serif;
  }
  
  .back-button {
    border-radius: 50px;
    color: #cecece;
    padding: 12px 38px;
    border: 1px solid #cecece;
  }
  
  .next-button {
    border-radius: 50px;
    background-color: #8b2119;
    color: #fff;
    padding: 12px 38px;
  }
  
  .divider {
    background-color: #d9d9d9;
    display: flex;
    margin-top: 70px;
    width: 1148px;
    max-width: 100%;
    height: 1px;
  }
  
  @media (max-width: 991px) {
    .report-section {
      padding: 0 20px;
    }
  
    .hero-section {
      max-width: 100%;
      margin: 40px 2px 0 0;
      padding: 0 20px;
    }
  
    .hero-title {
      max-width: 100%;
      font-size: 40px;
    }
  
    .hero-description {
      max-width: 100%;
    }
  
    .problem-section-title {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .problem-section-description {
      max-width: 100%;
    }
  
    .problem-categories {
      max-width: 100%;
      margin-top: 40px;
    }
  
    .category-item {
      white-space: initial;
      padding: 0 20px;
    }
  
    .navigation-buttons {
      margin-top: 40px;
      white-space: initial;
    }
  
    .back-button,
    .next-button {
      white-space: initial;
      padding: 0 20px;
    }
  
    .divider {
      margin-top: 40px;
    }

  }